*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.omain{
    width: 420px;
    height: 515px;
    border: 2px solid rgba(255, 255, 255, .2);
    color: white;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 40px 40px;
}


h1{
    font-size: 36px;
    text-align: center;
}

.inputbox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}

.inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;    
    padding: 20px 45px 20px 20px;

}

.inputbox input:focus {
    border-color: #fff; 
    box-shadow: 0 0 5px rgb(248, 248, 250); 
}

.inputbox input::placeholder{
    color: rgba(255, 255, 255, 0.712);
}

.inputbox i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
    color: #fff;

}

.button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.button:hover {
    background: rgba(255, 255, 255, .2); 
    color: #fff;
}

.button:focus {
    outline: 2px solid #fff; 
}

.register p{
    margin: 20px;
    font-size: 14.5px;
    text-align: center;
}

.register a{
    color: #fff;
}

.register a:hover {
    color: #8c8d8f; 
}