*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    min-height: 100vh;
    background: url(images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.nav{
    background-color: black;
    height: 50px;
    color: white;
}
.navtitle{
    text-align: center;
    padding: 8px;
}
.center{
    display: flex;
    justify-content: center;
    margin-top: 15%;

}
.main{
    width: 500px;
    height: 150px;
    border: 2px solid rgba(255, 255, 255, .2);
    color: white;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 30px;
}

.centertext{
    padding: 10px;
    display: flex;
    justify-content: center;
    color: white;
}
.links{
    display: flex;
    justify-content: center;
}
button{
    height: 25px;
    padding: 2px;
    background-color: white;
    border: 2px solid black;
}
a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: white;
}
button:hover{
    background-color: black;
}
footer{
    height: 30px;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    bottom: 0;
    position: fixed;
    padding: 10px;
}